<!-- Right Navigation LAPTOP -->
<div class="navbar-laptop-darktheme hidden-xs hidden-sm">
  <!-- Logo -->
  <%= link_to "https://cecile-chancerel-bijoux.com/wp/", class: "navbar-brand", title: "Retour à l'accueil de Cécile Chancerel" do %>
Cécile Chancerel
  <% end %>

  <!-- Different navigation if login or not -->
  <% if user_signed_in? %>

    <!-- Navbar right when connected -->
    <div class="navbar-item-darktheme">
      <div class="nav-bar-list">
        <% if current_user.admin %>
          <%= link_to admin_root_path do %>
            <span>Administration</span>
          <% end %>
        <% end %>
        <%= link_to ceramiques_path do %>
          <span>Catalogue</span>
        <% end %>
      </div>
    </div>

  <% else %>
    <div class="navbar-item-darktheme">
      <div class="nav-bar-list">
        <%= link_to ceramiques_path do %>
          <span>Catalogue</span>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>

<!-- Right Navigation MOBILE -->
<div class="navbar-mobile-darktheme hidden-md hidden-lg">
 <!-- Logo -->
    <%= link_to "https://cecile-chancerel-bijoux.com/wp/", class: "navbar-brand-mobile", title: "Retour à l'accueil de Cécile Chancerel" do %>
C C
  <% end %>

  <div class="navbar-item-darktheme">
    <div class="list-mobile">
      <%= link_to ceramiques_path do %>
        <span>Catalogue</span>
      <% end %>
    </div>
  </div>

</div>
